<h3>Author</h3>

<p>
  <h3>Name:</h3>
  <%= @author.full_name %>
</p>

<p>
  <h3>Age:</h3>
  <%= @author.age %>
</p>

<h3>More Books From This Author</h3>

<% @author.books.each do |book| %>
  <%= link_to book.title, book_path(book) %>
<% end %>